{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='view.css')}}">
{% endblock %}
{% block content %}
<div class="container">
<section class="cd-position-relative cd-z-index-1 cd-padding-y-2xl">
  <div class="cd-container cd-max-width-adaptive-sm cd-text-center">
    
    <div>
      <form method='POST' action="./{{iten[1].id}}">
        
        <h1 class="cd-margin-bottom-xs">Incluir ação em:</h1>
        <p class="thank-you__paragraph cd-margin-bottom-xs">
          {{iten[1].iten}} - {{iten[0].iten_sub}}
        </p>
        <label>Item</label>
        
        
        {{data}}
        {% if data:%}
          {%for x in data:%}  
          <p>{{x}}</p>
          
          {%endfor%}
        {%endif%}
        <br>

        <label>Ação para adicionar</label>
        <input class="form-control" type="text" name="sub_iten">
        <br>

        
        <button type="submit" class="btn btn-primary mb-2">Cadastrar</button>  
      </form>
        
    </div>
  </div>
</section>  
</div>
{% endblock %}


{% block content2 %}
<P>vvvvvv</P>
{% endblock %}
