{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='view.css')}}">
{% endblock %}
{% block content %}
<div class="container">
<section class="cd-position-relative cd-z-index-1 cd-padding-y-2xl">
  <div class="cd-container cd-max-width-adaptive-sm cd-text-center">
    
    <div>
      <form method='POST' action="./{{iten[0].id}}">
        
        <h1 class="cd-margin-bottom-xs">Incluir ação em:</h1>
        
        <p class="thank-you__paragraph cd-margin-bottom-xs">
          Item: {{iten[1].iten}} - {{iten[0].iten_sub}}
        </p>
        
        
        <p>
          {%if data:%}
            {% for x in data:%}
              <span class="badge badge-primary"> {{x.name}}</span>
            {%endfor%}
          {%else:%}
          <span class="badge badge-primary">Nada</span>
          {%endif%}

          
         </p>
        <br>

        <label>Ação para adicionar</label>
        <input class="form-control" type="text" name="acao">
        <br>

        
        <button type="submit" class="btn btn-primary mb-2">Cadastrar</button>  
      </form>
        
    </div>
  </div>
</section>  
</div>
{% endblock %}


{% block content2 %}
<P>vvvvvv</P>
{% endblock %}
