{% extends "base.html" %}

{% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet"
                  href="{{url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}
<div class="container">
  <h1>Normas</h1>
  <div class="stories">
    <div class="pos-f-t">
      <form method="GET" action="./">
        
        <div class="collapse" id="navbarToggleExternalContent">
          
          <div class="form-group">
          <label for="exampleInputEmail1">Filtros</label>
          <input type="text" name="busca"  class="form-control" placeholder="Busca">
        </div>
          <div class="form-group">
            
            <div class="form-check form-check-inline">
              {%if 'Descrição' in pagination.tags: %}
              <input class="form-check-input" type="checkbox" name="tags" value="Descrição" checked>
              {%else:%}
              <input class="form-check-input" type="checkbox" name="tags" value="Descrição">
              {%endif%}

              
              <label class="form-check-label ">Descrição</label>
            </div>
              
            <div class="form-check form-check-inline">
              {%if 'Infrações' in pagination.tags: %}
              <input class="form-check-input" type="checkbox" name="tags" value="Infrações" checked>
              {%else:%}
              <input class="form-check-input" type="checkbox" name="tags" value="Infrações" >
              {%endif%}
              <label class="form-check-label" for="inlineCheckbox2">Infrações</label>
            </div>
          </div>
        
        
        <button type="submit" class="btn btn-primary">Aplicar</button>
        </div>

      </form>

      <nav class="navbar navbar-light justify-content-end" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    <br>
    <p>
      <div class="accordion" id="accordion">
        {%if item:%}
          {% for x in item:%}
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{x.replace(' ', '')}}"  aria-controls="collapseOne">
                {{x}} 
              </button> 
            </h5>
          </div>

          <div id="{{x.replace(' ', '')}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

            {% for x1 in data:%}
              {%if x == x1[1]:%}
              
                <p>
                  <a href="./view_iten_sub/{{x1[0].id}}">{{x1[2]}} - {{x1[0].iten_sub}} </a>- {{x1[0].description}} 
                
                </p>
              {%endif%}
          
            {%endfor%}
              
              
            </div>
          </div>
        </div>

      {%endfor%}
    {%endif%}
      </div>
      {%if pagination.count[0]>9: %}
       <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          
          {%if pagination.page or pagination.page == '0': %}
          <li class="page-item ">
            <a class="page-link" href="{{
              url_for('norm.index', page=0,
              busca=pagination.busca,
              tags = pagination.tags)
            }}" aria-label="Previous">
            fs
            </a>
          </li>
          <li class="page-item ">
            <a class="page-link" href="{{
              url_for('norm.index', page=pagination.page-10,
              busca=pagination.busca,
              tags = pagination.tags)
            }}" aria-label="Previous">

              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {%else:%}
          <li class="page-item disabled">
            <a class="page-link" href="#">fs</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {%endif%}
          <!--
          {%for x in range(pagination.count[0]//10+1)%}
          <li class="page-item">
            <a class="page-link" href="{{
              url_for('norm.index', page=x*10,
               busca=pagination.busca,
               tags = pagination.tags) }}">
               {{x+1}}
           </a>
         </li>
          {%endfor%}
          -->
          <li class="page-item">
            <a class="page-link" href="#">
               {{pagination.page//10 + 1}}
           </a>
         </li>



          {%if pagination.page+10 < pagination.count[0]%}
          <li class="page-item">
            <a class="page-link" href="{{
              url_for('norm.index', page=pagination.page+10,
               busca=pagination.busca,
               tags = pagination.tags)
            }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="{{
              url_for('norm.index', page=pagination.count[0]//10*10,
               busca=pagination.busca,
               tags = pagination.tags)
            }}" aria-label="Next">
            ls
            </a>
          </li>
          {%else:%}
          <li class="page-item disabled">
            <a class="page-link" href="{{
              url_for('norm.index', page=pagination.page+10,
               busca=pagination.busca,
               tags = pagination.tags)
            }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="{{
              url_for('norm.index', page=pagination.page+10,
               busca=pagination.busca,
               tags = pagination.tags)
            }}" aria-label="Last">
            ls
            </a>
          </li>
          {%endif%}
        </ul>
      </nav>
      {%endif%}


    </p>
  
  
</div>
</div>
{% endblock %}


  




